:host {
  display: block;
}

aside {
  width: 250px;
  background-color: #2c3e50;
  height: 100%;
  color: white;
  padding: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 15px 10px;
  border-bottom: 1px solid #3e5871;
  cursor: pointer;
}

li:hover {
  background-color: #3e5871;
}

li.active {
  background-color: #3498db;
  border-right: 4px solid #fff;
  font-weight: bold;
}
