name: build and test

on:
  push:
  pull_request:
    branches: [main]
    paths:
      - "**.cs"
      - "**.csproj"

jobs:
  build-and-test:
    name: build-and-test-${{matrix.os}}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]

    steps:
      - uses: actions/checkout@v3
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v3

      - name: Install dependencies
        run: dotnet restore ./backend

      - name: Build
        run: dotnet build ./backend --configuration Release --no-restore

      - name: Test
        run: dotnet test ./backend --no-restore --verbosity normal
